.Home-logo {
  animation: Home-logo-spin infinite 20s linear;
  height: 80px;
}

.Home-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.Home-intro {
  font-size: large;
}

.Home-resources {
  list-style: none;
}

.Home-resources > li {
  display: inline-block;
  padding: 1rem;
}

@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

pre {
  max-height: 200px;
  max-width: 100%;
  overflow: scroll;
  font-size: 0.75rem;
  color: rgba(176,45,39,1);
  background: rgba(235,230,230,1);
  padding: 8px;
}

.Example-container {
  padding: 8px;
}

.Example-container button {
  outline: none;
  border-radius: 4px;
  border: none;
  height: 32px;
  padding: 8px 16px;
  background: #005899;
  color: white;
}

.navbar > a{
  display: inline-flex;
  border: 1px solid gray;
  padding: 8px;
  justify-content: center;
  align-items: center;
}